<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:jaxws="http://cxf.apache.org/jaxws"
            xsi:schemaLocation="
                  http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
           
       <import resource="classpath:META-INF/cxf/cxf.xml"/>
       <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
       <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

       <bean id="outLoggingInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
	   <bean id="inLoggingInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
       
       <jaxws:endpoint id="gatewayService" implementor="com.gztydic.gateway.webservice.impl.GatewayServiceImpl" address="/gatewayService" >
            <jaxws:inInterceptors>
			 	<ref bean="inLoggingInterceptor" />
	  		</jaxws:inInterceptors>
	    	<jaxws:outInterceptors>
				<ref bean="outLoggingInterceptor" />
			</jaxws:outInterceptors>
       </jaxws:endpoint>
       
       <jaxws:endpoint id="appService" implementor="com.gztydic.gateway.webservice.impl.AppServiceImpl" address="/appService" >
            <jaxws:inInterceptors>
			 	<ref bean="inLoggingInterceptor" />
	  		</jaxws:inInterceptors>
	    	<jaxws:outInterceptors>
				<ref bean="outLoggingInterceptor" />
			</jaxws:outInterceptors>
       </jaxws:endpoint>
</beans>
